@{ 
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="jumbotron">
        <h2>Cogitive Examples</h2>
        <p>These are examples of Microsoft Cognitive Services being used to leverage social media data.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="~/Twitter/QueryUser" class="btn btn-primary btn-block btn-lg">
                Twitter Example
            </a>
        </div>
    </div>
</div>