@model QueryUserViewModel
@{
    ViewBag.Title = "Query Twitter User";
}
<div class="container">
    <div class="jumbotron">
        <h2>Welcome to Cogi-Tweet</h2>
        <p>Simply type in a users twitter handle to analyze their attitudes towards things expressed in their tweets</p>
    </div>
    <form class="form" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Twitter Handle</label>
                    <div class="input-group col-md-5">
                        <input class="form-control" asp-for="TwitterHandle" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    @*<a class="btn btn-primary" asp-action="Analysis" asp-route="@Model.TwitterHandle">Analyze this thing</a>*@
                    @*<input asp-action="Analysis" class="btn btn-primary" type="submit" name="save" value="Analyze User" />*@
                    <button asp-action="Analysis" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Analyze User
                    </button>

                    <button asp-action="Mentions" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Analyze Mentions
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>